.dataTable{

    .dataGrid{
        background-color: white;
        padding: 30px;

        .MuiDataGrid-toolbarContainer{
            flex-direction: row-reverse;
        }

        img{
            height: 32px;
            width: 32px;
            border-radius: 50%;
            object-fit: cover;
        }

        .action{
            display: flex;
            gap: 15px;

            img{
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
        }
    }
}